<%= form_for @surveys do |f| %>

	<p>
		<%= f.label :title %> <br/>
		<%= f.text_field :title %>
	</p>

	<%= f.fields_for :questions do |builder| %>

		<%= render "question_fields", :f => builder %>  
	<% end %>
	<p> <%= f.submit "Submit" %></p>

<% end %>